* {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial;
	box-sizing: border-box;
}
body {
	background-color: #39272F;
	display:none;
}
.container {
	width:1000px;
	margin: 0 auto;

}


.container > h1 {
	text-align: center;
	margin-top: 100px;
	color:#cb8d7a;;
}
.ustawliczbe, .wyczysc {
	display:block;
	margin: 50px auto;
}


.pudlo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-color: #cb8d7a;
	display:none;
	width:800px;
	height:800px;
}


.onepixel {
	display:inline-block;
	margin:0;
	float:left;

}
.onepixel:after {
	content:"";
	display:block;
	padding-top: 100%;
}

.kolorki {
	margin:0 auto;
	width:50%;
	text-align:center;
	display:none;
}
.czerwony, .zielony, .niebieski {

}
.zmianakoloruczerwony {
	background-color: red;
}
.zmianakoloruniebieski {
	background-color: blue;
}
.zmianakoloruzielony {
	background-color: green;
}